*{box-sizing: border-box; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige line rgb(238, 235, 231);
}
.main-container{
    height: 500px;
    width: 400px;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 4px grey;
    padding: 10px;
    background-color: white;
    align-items: center;
    border-radius: 5px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 0;
}
.intro-text{
    margin: 4px;
    color: grey;
}
hr{
    width: 400px;
}
.name{
    width: 185.3px;
    height: 27px;
    border: 1px solid  rgb(189, 166, 166);
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box;
}
#first-name{
    margin-right: 6px;
}
.dob-text{
    margin: 20px 0 0 0;
    color: rgb(83, 77, 77);
}
.dob{
    width: 124.4px;
    height: 27px;
    border: 1px solid gray;
    border-radius: 4px;
}
.info{
    width: 15px;
    height: 15px;
    background-color: grey;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
}
.gender-text{
    margin: 20px 0 0 0;
    color: rgb(83, 77, 77);
}
.gender{
    display: flex;
    gap: 10px;
}
.gender-radio{
    width: 120px;
    height: 27px;
    border: 1px solid  grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 5px;
}
.male{
    gap: 63px;
    display: flex;
}
.email{
    width: 380px;
    height: 27px;
    margin: 12px 0;
    border: 1px solid  grey;
    border-radius: 4px;
}
#password{
    margin: 0;
}
.terms{
    color: blue;
}
button{
    display: flex;
    justify-self: center;
    width: 150px;
    justify-content: center;
    border: none;
    border-radius: 4px;
    height: 25px;
    align-items: center;
    background-color: green;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.footer{
    color: blue;
    text-align: center;
    font-weight: bold;
}